<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="p1" value="7643"/>
    <add key="p2" value="0974"/>
    <add key="p3" value="2244"/>
    <add key="p4" value="8461209"/>
    <add key="month" value="09"/>
    <add key="year" value="21"/>
    <add key="owner" value="Petrov Arkadi"/>
    <add key="code" value="456"/>

    <add key="invP1" value="1111"/>
    <add key="invP2" value="1111"/>
    <add key="invP3" value="1111"/>
    <add key="invP4" value="1111111"/>

  </appSettings>
</configuration>