<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value="МИНСК-ПАССАЖИРСКИЙ"/>
    <add key="ArrivalCity" value="ГРОДНО"/>
    <add key="Login" value="Myrku1"/>
    <add key="Password" value="zm8l2n7g"/>
    <add key="DateDeparture" value="10.12.2019" />
    <add key="PastDate" value="30.11.2019" />
  </appSettings>
</configuration>